@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rufina:wght@400;700&display=swap%27');
body{
    height: 100%;
}
#ThankYouBox{
    display: flex;
    flex-direction:column;
    margin-top: 6.4rem;
    align-items: center;
    justify-content: center;

}
.ThankYou{
     
    font-size: 6.25rem;
    font-family: Rufina; 
    text-align: center;
}
.OrderPlaced{
    margin-top: 2rem;
    margin-bottom:  3rem;
    font-family: Open Sans; 
    font-size: 	2.5rem;
    text-align: center

}
.OtherTextThankYou{
    font-family: Open Sans; 
    font-size: 1.25rem;
    text-align: center

}
.DownloadPDFText{
    font-family: Open Sans; 
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2.5rem;
        
}
.VisitAccText{
     font-family: Open Sans; 
    font-size: 1.25rem;
    text-align: center;
    margin-top: 2.5rem;
}
#profile{
width: 95px;
}

#HeartIcon {
  content: "\2661";
  font-size:2.5rem;
  position: relative;
  left:  2.38rem;
  bottom: .3rem;
  color: whitesmoke;
  
}
.dot {
  height: 2.5rem;
  width: 2.5rem;
  background-color: #3C3C3C;
  border-radius: 50%;
  display: inline-block;
  
}
.HeartWithCircle{
    padding-right: 2rem;
}