@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Rufina:wght@400;700&display=swap%27');
:root {
    --white: rgba(255, 255, 255);
    --dark_gray: #3D3D3D;
    --grey: #495057;
    --black: rgba(0, 0, 0);
    --light_gray: #F3F4F1;
    --light_brown: #F7F6EE
}

html {
    scroll-behavior: smooth;
}

button:focus {
    outline: none;
}

#Header {
    width: 100vw;
    background-color: var(--black);
    height: 55px;
}

.nav-link {
    font-family: Open Sans;
    font-size: 15px;
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

.header_button {
    background-color: var(--black);
    border: none;
}

ul.nav a:hover {
    color: #707070 !important;
}

#Luvamine-Logo-White {
    height: 30px;
}

#Header_Left{
    position: absolute;
    left: 0px;
    margin-left: 10px
}

#Header_Right{
    position: absolute;
    right: 0px;
    margin-right: 10px
}

#Quote_Background {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}

#Product_Sample {
    width: 190px;
    margin-top: 100px;
}

#Title {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100vh;
}

#Title_Page {
    padding: 0px;
}

#Title_Header {
    font-family: Rufina;
    font-size: 40px;
}

.btn {
    border-radius: 0%;
}

#Shop_Now_Button {
    margin-top: 10px;
    font-family: Open Sans;
    font-size: 15px;
    background-color: var(--black);
}

#Product_Title {
    position: sticky;
    margin-left: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    top: 125px;
    text-align: left;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}

#Product_col {
    padding: 60px 100px 60px 100px;
}

.product-container {
    padding: 0px;
    margin: 0px 0px 70px 0px;
}

.Product_Image {
    height: 250px;
}

.Product_Image.parfum {
    margin-top: 50px;
    height: 200px;
}

.Product_Image.room-spray {
    padding-right: 25px;
}

.bg-product {
    border: none;
    background-color: var(--light_gray);
}

.product-description {
    margin-top: 35px;
    font-family: Open Sans;
    font-size: 12px;
    font-weight: bold;
}

.product-img-container {
    margin: 0px 10px 0px 10px;
    height: 300px;
    width: 250px;
    padding: 20px 0px 20px 0px;
}

#Empty_Product_Container{
    padding: 0px;
    height: 0px;
}

.overlay {
    position: absolute;
    top: 0;
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--black);
}

#Add_to_Cart {
    margin: 0px;
    position: absolute;
    bottom: 0;
    width: inherit;
    font-family: Open Sans;
    font-size: 18px;
    padding: 5px 0px 5px 0px;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--black);
    color: var(--white);
}

.product-img-container:hover .overlay {
    opacity: 40%;
}

.product-img-container:hover #Add_to_Cart {
    opacity: 100%;
}

#Quote_Break {
    padding: 0px;
    height: 360px;
    background-color: var(--dark_gray);
}

#Quote{
    height: min-content;
    font-family: Rufina;
    font-size: 35px;
    color: var(--white);
    margin: 0px 20% 0px 20%;
}

#Review_Title{
    height: min-content;
    position: sticky;
    margin-left: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    top: 75px;
    text-align: left;
    font-family: Rufina;
    font-size: 70px;
    color: var(--black);

}

#Review_Right_Side{
    padding: 0px 100px 0px 100px;
    margin: 100px 0px 100px 0px;
    border-left: 3px solid var(--grey);
}

#Review_Container{
    font-family: Open Sans;
    padding: 50px 0px 50px 0px;
    border-top: 1px solid var(--grey);
}

#Review_Container h1{
    font-size: 20px;
    font-weight: bold;
}

#Review_Container h2{
    font-size: 10px;
    color: var(--grey)
}

#Review_Container p{
    font-size: 15px;
}

#Footer{
    font-family: Open Sans;
    background-color: var(--light_brown);
    padding: 50px 100px 50px 100px
}

#Footer .col{
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#Footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#Footer img{
    width: 35px;
    margin: 15px 0px 0px 0px;
}

#Footer h1{
    font-size: 18px;
    font-weight: bold;
}

#Footer a{
    color: var(--black);
    font-size: 13px;
}
#Footer h2{
    color: var(--black);
    font-size: 13px;
}
#Footer p{
    color: var(--black);
    font-size: 13px;
}

#Footer a:hover{
    text-decoration: none;
}

#Footer input{
    border: none;
    background-color: var(--light_brown);
    border-bottom: 1px solid var(--grey);
    font-family: Open Sans;
    font-size: 13px;
}

#Footer_Small{
    display: none;
    font-family: Open Sans;
    background-color: var(--light_brown);
    padding: 10px 0px 10px 0px;
}

#Footer_Small>*{
    text-align: center;
    justify-content: center;
    margin: 15px 0px 15px 0px;
}

#Footer_Small button{
    border: none;
    background-color: var(--light_brown);
}

#Footer_Small .col{
    margin: 0px;
    padding: 0px 10px 0px 10px;
}

#Footer_Small ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#Footer_Small img{
    width: 35px;
    margin: 0px;
}

#Footer_Small h1{
    font-size: 18px;
    font-weight: bold;
}

#Footer_Small a{
    color: var(--black);
    font-size: 13px;
}
#Footer_Small h2{
    color: var(--black);
    font-size: 13px;
}
#Footer_Small p{
    color: var(--black);
    font-size: 13px;
}

#Footer_Small a:hover{
    text-decoration: none;
}

#Footer_Small input{
    border: none;
    background-color: var(--light_brown);
    border-bottom: 1px solid var(--grey);
    font-family: Open Sans;
    font-size: 13px;
}

.modal-dialog,
.modal.right .modal-dialog {
    margin: 0;
    width: 30vw;
    position: fixed;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal-body,
.modal.right .modal-body {
    padding: 35px;
}

.modal.right.fade .modal-dialog {
    right: -50%;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
    right: 0px;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.LoginSignUpHeader {
    margin: 50px 0px 50px 0px;
    font-size: 35px;
    font-weight: bold;
}

.form-group {
    font-family: Open Sans;
    font-size: 15px;
}

.form-control {
    border-radius: 0px;
}

#Captcha_Signup {
    border: none;
    border-bottom: 1px solid var(--grey)
}

.Login_Signup_Button {
    background-color: var(--black);
    border: none;
}

.Login_Signup_Button.btn-primary:hover {
    background-color: var(--gray);
}

#Login_Signup {
    color: var(--black);
    font-size: 12px;
}

@media screen and (max-width: 640px) {

    .nav-link {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #Luvamine-Logo-White {
        height: 15px;
    }

    #Product_Sample {
        height: 60vh;
        width: auto;
    }

    #Title_Page {
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    #Title_Header {
        font-size: 40px;
    }

    #Shop_Now_Button {
        margin-top: 10px;
        font-family: Open Sans;
        font-size: 15px;
        background-color: var(--black);
    }

    #Quote{
        font-size: 30px;
        margin: 0px 10% 0px 10%;
    }

    #Review_Title{
        font-size: 50px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }

    .nav-link {
        font-size: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }

    #Luvamine-Logo-White {
        height: 15px;
    }

}

@media screen and (max-width: 992px) {
    #Product_Sample {
        height: 55vh;
        width: auto;
    }

    #Title_Page {
        margin-top: 35px;
        padding: 0px;
        text-align: center;
    }

    #Title_Header {
        font-size: 30px;
    }

    #Shop_Now_Button {
        margin-top: 10px;
        font-family: Open Sans;
        font-size: 15px;
        background-color: var(--black);
    }

    #Review_Title{
        position: relative;
        margin: 0px 0px 50px 0px;
        padding: 0px;
        text-align: center;
    }

    #Review_Right_Side{
        border: none;
        margin: 50px 0px 0px 0px;
        padding: 0px 10% 0px 10%;
    }


    #Footer{
        display: none;
    }

    #Footer_Small{
        display: flex;
        flex-direction: column;
        font-family: Open Sans;
        background-color: var(--light_brown);
        padding: 10px 0px 10px 0px;
    }

    #Footer_Small input{
        width: 50%;
        margin: auto;
    }

}

@media screen and (max-width: 1310px) {
    #Product_col {
        padding: 60px 60px 60px 0px;
    }
}

@media screen and (max-width: 767px) {

    #Product_Title {
        margin: 50px 0px 50px 0px;
        text-align: center;
        font-size: 20px;
    }

    #Product_col{
        padding: 0px;
    }
}

#Profile_Body{
    font-family: Open Sans;
    padding: 50px 75px 50px 75px;
    width: 100%;
    margin: 0px;
}

#Payment_Details h1{
    font-size: 25px;
    font-weight: bold;
}
#Payment_Details h2{
    margin: 40px 0px 20px 0px;
    font-weight: bold;
    font-size: 15px;
}

#Profile_Header{
    margin: 55px 0px 0px 0px;
    padding: 50px 75px 50px 75px;
    width: 100%;
    background-color: var(--light_brown);
}

#Profile_Name_Role h1{
    font-family: Rufina;
    font-size: 35px;
}

#Profile_Name_Role h2{
    font-family: Open Sans;
    font-size: 20px;
}

#PDF_Download_Container{
    border-left: 3px solid var(--grey);
}

.pdf-download{
    padding: 20px 0px 20px 40px;
}

#PDF_Download_Container h1{
    font-size: 30px;
}

#PDF_Download_Container button{
    font-size: 16px;
    margin: 10px 0px 0px 5px;
}

@media screen and (max-width: 767px) {

    #PDF_Download_Container{
        border-top: 3px solid var(--grey);
        border-left: none;
        text-align: center;
        padding: 25px 0px 15px 0px;
        margin: 15px 0px 15px 0px;
    }

    #PDF_Download_Container button{
        margin: 0px;
    }

    #PDF_Download_Container h1{
        text-align: left;
        font-size: 20px;
    }

    .pdf-download{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }
}

@media screen and (max-width: 576px) {

    #Profile_Body{
        padding: 20px;
    }

    #Profile_Header{
        padding: 40px 20px 40px 20px;
    }

    #Profile_Name_Role{
       text-align: center;
    }
    
    #Profile_Header button{
       margin-top: 20px;
    }
}