:root {
    --white: rgba(255, 255, 255);
    --color_assets_2: rgba(247, 246, 238, 255);
    --color_assets_3: rgba(125, 58, 21, 255);
    --black: rgba(0, 0, 0);
    --light_gray: #F3F4F1;
    --color_assets_5: rgba(83, 153, 135, 255);
    --color_assets_6: rgba(125, 133, 112, 255);
    --color_assets_7: rgba(255, 159, 28, 255);
    --color_assets_8: rgba(108, 150, 157, 255);
    --color_assets_9: rgba(112, 112, 112, 255);
    --color_assets_10: rgba(243, 244, 241, 255);
}

@font-face {
    font-family: Rufina;
    src: url(https://fonts.google.com/specimen/Rufina);
}

@font-face {
    font-family: Open Sans;
    src: url(https://fonts.google.com/specimen/Open+Sans);
}

#Header {
    background-color: var(--black);
    height: 55px;
}

.nav-link {
    font-family: Open Sans;
    font-size: 15px;
    color: var(--white);
    padding-left: 20px;
    padding-right: 20px;
}

ul.nav a:hover {
    color: #707070 !important;
}

#Luvamine-Logo-White {
    height: 30px;
}

#Quote_Background {
    width: 100vw;
    height: 100vh;
}

#Product_Sample {
    position: absolute;
    left: 15vw;
    height: 60vh;
    top: 20vh;
}

#Title {
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

#Title_Page {
    top: 40vh;
    left: 50%
}

#Title_Header {
    font-family: Rufina;
    font-size: 40px;
}

.btn {
    border-radius: 0%;
}

#Shop_Now_Button {
    margin-top: 10px;
    font-family: Open Sans;
    font-size: 15px;
    background-color: var(--black);
}

#Product_Title {
    margin-left: 100px;
    margin-top: 75px;
    text-align: left;
    font-family: Open Sans;
    font-size: 25px;
    font-weight: normal;
    color: rgba(0, 0, 0, 1);
}

#Product_col {
    padding: 60px;
}

#Product_container {
    padding: 20px;
    margin: 30px;
}

.Product_Image {
    height: 275px;
}

.bg-product {
    background-color: var(--light_gray);
}