.mediaViewInfo {
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Landing_Page;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Landing_Page {
	position: absolute;
	width: 1920px;
	height: 6404px;
	background-color: rgba(252,252,252,1);
	overflow: hidden;
	--web-view-name: Landing Page;
	--web-view-id: Landing_Page;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes slide-left {

	0% {
		transform: translateX(100%);
	}

}
@keyframes slide-left {

	0% {
		transform: translateX(100%);
	}

}
#Footer {
	position: absolute;
	width: 1920px;
	height: 346px;
	left: 0px;
	top: 6058px;
	overflow: visible;
}
#Footer_d {
	fill: rgba(247,246,238,1);
}
.Footer_d {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 346px;
	left: 0px;
	top: 0px;
}
#About_us__Our_history_Sourcing {
	left: 151px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Need_help__Get_in_touch_Freque {
	left: 554px;
	top: 75px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Instagram {
	position: absolute;
	width: 256px;
	height: 95px;
	left: 998px;
	top: 75px;
	overflow: visible;
}
#Follow_Luvamine_on_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 257px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Circle_Button {
	position: absolute;
	width: 39px;
	height: 39px;
	left: 0px;
	top: 56px;
	overflow: visible;
}
#Area {
	fill: rgba(60,60,60,1);
}
.Area {
	position: absolute;
	overflow: visible;
	width: 39px;
	height: 39px;
	left: 0px;
	top: 0px;
}
#Icon {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 11px;
	top: 11px;
	overflow: visible;
}
#Area_ee {
	opacity: 0;
	fill: rgba(252,252,252,1);
}
.Area_ee {
	position: absolute;
	overflow: visible;
	width: 17px;
	height: 17px;
	left: 0px;
	top: 0px;
}
#Icon_ef {
	position: absolute;
	width: 14.154px;
	height: 12.345px;
	left: 1.424px;
	top: 2.405px;
	overflow: visible;
}
#Path {
	fill: rgba(0,0,0,0);
	stroke: rgba(252,252,252,1);
	stroke-width: 1.6666666269302368px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path {
	overflow: visible;
	position: absolute;
	width: 15.82px;
	height: 14.012px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Newsletter {
	position: absolute;
	width: 394px;
	height: 172px;
	left: 1426px;
	top: 75px;
	overflow: visible;
}
#Subscribe_to_our_Newsletter {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 350px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Enter_your_email_to_be_notifie {
	left: 0px;
	top: 54px;
	position: absolute;
	overflow: visible;
	width: 395px;
	height: 94px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Email_Input {
	position: absolute;
	width: 394px;
	height: 48px;
	left: 0px;
	top: 124px;
	overflow: visible;
}
#Base {
	opacity: 0;
	fill: rgba(255,255,255,1);
}
.Base {
	position: absolute;
	overflow: visible;
	width: 394px;
	height: 48px;
	left: 0px;
	top: 0px;
}
#Divider {
	fill: transparent;
	stroke: rgba(0,0,0,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Divider {
	overflow: visible;
	position: absolute;
	width: 394px;
	height: 2px;
	left: 0px;
	top: 47px;
	transform: matrix(1,0,0,1,0,0);
}
#Label {
	left: 12px;
	top: 9px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Reviews {
	position: absolute;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 4978px;
	overflow: visible;
}
#Review_Background {
	fill: rgba(255,255,255,1);
}
.Review_Background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 1080px;
	left: 0px;
	top: 0px;
}
#Review_Header_Seperator {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 3px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Header_Seperator {
	overflow: visible;
	position: absolute;
	width: 3.5px;
	height: 879.002px;
	left: 960px;
	top: 100.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Header {
	left: 200px;
	top: 100px;
	position: absolute;
	overflow: visible;
	width: 374px;
	white-space: nowrap;
	text-align: left;
	font-family: Rufina;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	color: rgba(0,0,0,1);
}
#Review_Group {
	mix-blend-mode: normal;
	position: absolute;
	width: 757.5px;
	height: 772.5px;
	left: 1063px;
	top: 150px;
	overflow: hidden;
}
#Reviews_et {
	position: absolute;
	width: 757.5px;
	height: 1423.5px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Reviews_et_0 {
	position: absolute;
	width: 756.5px;
	height: 708px;
	left: 1px;
	top: 0px;
	overflow: visible;
}
#Review_Seperator {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0px;
	top: 708px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample {
	position: absolute;
	width: 756px;
	height: 128px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Area_ex {
	fill: rgba(255,255,255,1);
}
.Area_ex {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jamielle_R {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021 {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Room__Linen_Spray_No_05_ {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#So_bangoooooo_huhu_same_na_sam {
	left: 316px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 68px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Review_Seperator_e {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator_e {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0px;
	top: 475px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample_e {
	position: absolute;
	width: 756px;
	height: 167px;
	left: 0px;
	top: 248px;
	overflow: visible;
}
#Area_e {
	fill: rgba(255,255,255,1);
}
.Area_e {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jim_M {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021_e {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Love_in_Bloom_No_02_Autu {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 328px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Thank_you_for_the_100_customer {
	left: 316px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 107px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Review_Seperator_fa {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator_fa {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0.5px;
	top: 188px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample_fa {
	position: absolute;
	width: 756px;
	height: 113px;
	left: 0px;
	top: 535px;
	overflow: visible;
}
#Area_fb {
	fill: rgba(255,255,255,1);
}
.Area_fb {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jon_L {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021_fd {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Eau_de_Parfum__No_04_Ren {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 300px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Tried_it_na_Napakapango_I_supe {
	left: 316px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 73px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Reviews_et_1 {
	position: absolute;
	width: 756.5px;
	height: 708px;
	left: 1px;
	top: 729px;
	overflow: visible;
}
#Review_Seperator_fh {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator_fh {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0px;
	top: 708px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample_fi {
	position: absolute;
	width: 756px;
	height: 128px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Area_fj {
	fill: rgba(255,255,255,1);
}
.Area_fj {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jamielle_R_fk {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 160px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021_fl {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Room__Linen_Spray_No_05__fm {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 331px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#So_bangoooooo_huhu_same_na_sam_fn {
	left: 316px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 68px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Review_Seperator_fo {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator_fo {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0px;
	top: 475px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample_fp {
	position: absolute;
	width: 756px;
	height: 167px;
	left: 0px;
	top: 248px;
	overflow: visible;
}
#Area_fq {
	fill: rgba(255,255,255,1);
}
.Area_fq {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jim_M_fr {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021_fs {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Love_in_Bloom_No_02_Autu_ft {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 328px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Thank_you_for_the_100_customer_fu {
	left: 316px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 107px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Review_Seperator_fv {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Review_Seperator_fv {
	overflow: visible;
	position: absolute;
	width: 756px;
	height: 1px;
	left: 0.5px;
	top: 188px;
	transform: matrix(1,0,0,1,0,0);
}
#Review_Sample_fw {
	position: absolute;
	width: 756px;
	height: 113px;
	left: 0px;
	top: 535px;
	overflow: visible;
}
#Area_fx {
	fill: rgba(255,255,255,1);
}
.Area_fx {
	display: none;
	position: absolute;
	overflow: visible;
	width: 760px;
	height: 323px;
	left: -4px;
	top: 0px;
}
#Jon_L_fy {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 85px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(0,0,0,1);
}
#Reviewed_on_May_5_2021_fz {
	left: 0px;
	top: 51px;
	position: absolute;
	overflow: visible;
	width: 178px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About_Eau_de_Parfum__No_04_Ren_f {
	left: 316px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 300px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Tried_it_na_Napakapango_I_supe_f {
	left: 316px;
	top: 40px;
	position: absolute;
	overflow: visible;
	width: 441px;
	height: 73px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
#Quote {
	position: absolute;
	width: 1920px;
	height: 460px;
	left: 0px;
	top: 4518px;
	overflow: visible;
}
#Quote_Background {
	fill: rgba(61,61,61,1);
}
.Quote_Background {
	overflow: visible;
	position: absolute;
	width: 1920px;
	height: 460px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Quote_Header {
	left: 367px;
	top: 164px;
	position: absolute;
	overflow: visible;
	width: 1187px;
	height: 133px;
	text-align: center;
	font-family: Rufina;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	color: rgba(255,255,255,1);
}
#Products {
	position: absolute;
	width: 1926px;
	height: 3438px;
	left: -6px;
	top: 1080px;
	overflow: visible;
}
#Products_Background {
	fill: rgba(255,255,255,1);
}
.Products_Background {
	position: absolute;
	overflow: visible;
	width: 1926px;
	height: 3438px;
	left: 0px;
	top: 0px;
}
#Products_Quote {
	left: 103px;
	top: 75px;
	position: absolute;
	overflow: hidden;
	width: 745px;
	height: 342px;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	color: rgba(0,0,0,1);
}
#Products_f {
	position: absolute;
	width: 793px;
	height: 3288px;
	left: 968px;
	top: 75px;
	overflow: hidden;
}
#Group {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 1px;
	overflow: visible;
}
#Product_Right {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_gc {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_gf {
	fill: rgba(0,0,0,1);
}
.background_gf {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_gg {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_gg {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_gh {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_gj {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_gj {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_gk {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300 {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_gm {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_gn {
	fill: rgba(0,0,0,1);
}
.background_gn {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_go {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_go {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_gp {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_gq {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 554px;
	overflow: visible;
}
#Product_Right_gr {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right_gs {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right_gs {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_gt {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi_gu {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_gv {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_gw {
	fill: rgba(0,0,0,1);
}
.background_gw {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_gx {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_gx {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_gy {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left_gz {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_g {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_g {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_g {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300_g {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_g {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_g {
	fill: rgba(0,0,0,1);
}
.background_g {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_ha {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_ha {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_g {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_g {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 1107px;
	overflow: visible;
}
#Product_Right_g {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right_g {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right_g {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_ha {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi_hb {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_hc {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_hd {
	fill: rgba(0,0,0,1);
}
.background_hd {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_he {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_he {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_hf {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left_hg {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_hh {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_hh {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_hi {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300_hj {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_hk {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_hl {
	fill: rgba(0,0,0,1);
}
.background_hl {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_hm {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_hm {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_hn {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_ho {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 1660px;
	overflow: visible;
}
#Product_Right_hp {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right_hq {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right_hq {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_hr {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi_hs {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_ht {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_hu {
	fill: rgba(0,0,0,1);
}
.background_hu {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_hv {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_hv {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_hw {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left_hx {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_hy {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_hy {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_hz {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300_h {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_h {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_h {
	fill: rgba(0,0,0,1);
}
.background_h {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_ia {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_ia {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_h {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_h {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 2213px;
	overflow: visible;
}
#Product_Right_h {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right_h {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right_h {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_h {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi_h {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_ia {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_ib {
	fill: rgba(0,0,0,1);
}
.background_ib {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_ic {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_ic {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_id {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left_ie {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_if {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_if {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_ig {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300_ih {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_ii {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_ij {
	fill: rgba(0,0,0,1);
}
.background_ij {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_ik {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_ik {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_il {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Group_im {
	position: absolute;
	width: 793px;
	height: 513px;
	left: 0px;
	top: 2766px;
	overflow: visible;
}
#Product_Right_in {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 434px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Right_io {
	fill: rgba(243,244,241,1);
}
.Product_Background_Right_io {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Parfum-Amber-Wood_ip {
	position: absolute;
	width: 107.94px;
	height: 325px;
	left: 125.53px;
	top: 95px;
	overflow: visible;
}
#Eau_De_Parfum_60ml__-__350_Whi_iq {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 290px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_ir {
	position: absolute;
	width: 359px;
	height: 451px;
	left: 0px;
	top: -1px;
	display: none;
	overflow: visible;
}
#background_is {
	fill: rgba(0,0,0,1);
}
.background_is {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 397px;
}
#background_it {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_it {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 451px;
	left: 0px;
	top: 0px;
}
#label_iu {
	left: 114px;
	top: 407px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Products_Left_iv {
	position: absolute;
	width: 359px;
	height: 513px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Product_Background_Left_iw {
	fill: rgba(243,244,241,1);
}
.Product_Background_Left_iw {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#Room-Spray-Amber-Wood_ix {
	position: absolute;
	width: 127.344px;
	height: 400px;
	left: 101.656px;
	top: 25px;
	overflow: visible;
}
#Room__Linen_Spray_200ml_-__300_iy {
	left: 0px;
	top: 458px;
	position: absolute;
	overflow: visible;
	width: 349px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(0,0,0,1);
}
#Kit_-_Button_ghost_hover_Defau_iz {
	position: absolute;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
	display: none;
	overflow: visible;
}
#background_i {
	fill: rgba(0,0,0,1);
}
.background_i {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 54px;
	left: 0px;
	top: 396px;
}
#background_ja {
	opacity: 0.3;
	fill: rgba(0,0,0,1);
}
.background_ja {
	position: absolute;
	overflow: visible;
	width: 359px;
	height: 450px;
	left: 0px;
	top: 0px;
}
#label_i {
	left: 114px;
	top: 406px;
	position: absolute;
	overflow: visible;
	width: 133px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Landing_Page_i {
	position: absolute;
	width: 1920px;
	height: 995px;
	left: 0px;
	top: 85px;
	overflow: visible;
}
#Landing_Page_Background {
	position: absolute;
	width: 1920px;
	height: 995px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Shop_Now_Button {
	position: absolute;
	width: 174px;
	height: 54px;
	left: 960px;
	top: 565px;
	overflow: visible;
}
#Button_Background {
	fill: rgba(0,0,0,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Button_Background {
	position: absolute;
	overflow: visible;
	width: 175px;
	height: 55px;
	left: 0px;
	top: 0px;
}
#Button_Label {
	left: 20px;
	top: 10px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	text-align: center;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Main_Header_Quote {
	left: 960px;
	top: 377px;
	position: absolute;
	overflow: visible;
	width: 805px;
	white-space: nowrap;
	text-align: left;
	font-family: Rufina;
	font-style: normal;
	font-weight: normal;
	font-size: 60px;
	color: rgba(0,0,0,1);
}
#Header {
	position: absolute;
	width: 1920px;
	height: 85px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header_Background {
	fill: rgba(0,0,0,1);
}
.Header_Background {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 85px;
	left: 0px;
	top: 0px;
}
#Luvamine-Logo-White {
	position: absolute;
	width: 269.117px;
	height: 39.291px;
	left: 825.442px;
	top: 22.854px;
	overflow: visible;
}
#Login_jc {
	left: 1714px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 52px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: slide-left 0.3s ease-out forwards;
	--web-action-type: page;
	--web-action-target: Login_Popup.html;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Cart {
	left: 1823px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
	--web-animation: slide-left 0.3s ease-out forwards;
	--web-action-type: page;
	--web-action-target: Cart_Popup.html;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Products_je {
	left: 58px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 84px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Reviews_jf {
	left: 199px;
	top: 29px;
	position: absolute;
	overflow: visible;
	width: 76px;
	white-space: nowrap;
	text-align: left;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(255,255,255,1);
}